server=1

printtoconsole=1

rpcuser=chainwatch

rpcpassword=CHANGEME

rpcbind=0.0.0.0

rpcallowip=172.16.0.0/12

prune=20000

dbcache=4000

maxuploadtarget=1000

zmqpubrawtx=tcp://0.0.0.0:28332

zmqpubrawblock=tcp://0.0.0.0:28333

zmqpubhashblock=tcp://0.0.0.0:28334
zmqpubsequence=tcp://0.0.0.0:28335
